input(type="hidden" name="chapterId" value="#{chapterId}")
input(type="hidden" name="lessonId" value="#{lessonId}")
input(type="hidden" name="sectionId" value="#{sectionId}")
input(type="hidden" name="lessonNumber" value="#{lesson.lessonnumber}")
input(type="hidden" name="lessonTypeId" value="#{lesson.id}")

span.label(class="input-group-text") Aufgabenname
input(class="form-control" type="text" name="lessonName" required value="#{lesson ? lesson.name : ''}")
br
span.label(class="input-group-text") Aufgabennummer
input(class="form-control" type="number" min=1 name="updatedLessonNumber" required value="#{lesson.lessonnumber}")
br
span.label(class="input-group-text") Informationen
textarea(class="form-control" name="lessonInformation" required) #{lesson.information}
br
span.label(class="input-group-text") Unterthema
select(class="form-select" name="updatedSectionId" required)
    each section in sections
        option(value="#{section.id}" selected=sectionId == section.id) #{section.name}
br
span.label(class="input-group-text") Schwierigkeitsgrad
select(class="form-select" name="difficultyLevel" required)
    option(value="ALL" selected=lesson && lesson.difficultylevel == 'ALL') Alle
    option(value="EASY" selected=lesson.difficultylevel == 'EASY') Einfach
    option(value="MIDDLE" selected=lesson.difficultylevel == 'MIDDLE') Mittel
    option(value="HARD" selected=lesson.difficultylevel == 'HARD') Schwer
br
span.label(class="input-group-text") Rückmeldung beim Erfolgreichen lösen
textarea(class="form-control" name="feedback") #{lesson.feedback}
br
