input(type="hidden" name="chapterId" value="#{chapterId}")
input(type="hidden" name="sectionId" value="#{sectionId}")
span.label(class="input-group-text") Aufgabenname
input(class="form-control" type="text" name="lessonName" required value="#{lesson ? lesson.name : ''}")
br
span.label(class="input-group-text") Aufgabennummer
input(class="form-control" type="number" min=1 name="lessonNumber" required value="#{lesson ? lesson.lessonnumber : 1")
br
span.label(class="input-group-text") Informationen (HTML)
textarea(class="form-control" name="lessonInformation" required) #{lesson ? lesson.information : ''}
br
span.label(class="input-group-text") Schwierigkeitsgrad
select(class="form-select" name="difficultyLevel" required)
    option(value="ALL" selected=lesson && lesson.difficultylevel == 'ALL') Alle
    option(value="EASY" selected=lesson && lesson.difficultylevel == 'EASY') Einfach
    option(value="MIDDLE" selected=lesson && lesson.difficultylevel == 'MIDDLE') Mittel
    option(value="HARD" selected=lesson && lesson.difficultylevel == 'HARD') Schwierig
br
span.label(class="input-group-text") Hinweise / Tipps
textarea(class="form-control" name="hints") #{lesson ? lesson.hints : ''}
br
span.label(class="input-group-text") Rückmeldung nach dem Erfolgreichen lösen
textarea(class="form-control" name="feedback") #{lesson ? lesson.feedback : ''}
br
