extends ../layout

block content
    h1 Fill the Blank Aufgabe erstellen
    form(action="/saveCreateInformationLesson" method="post")
        input(type="hidden" name="chapterId" value="#{chapterId}")
        input(type="hidden" name="sectionId" value="#{sectionId}")
        div.input
            span.label Aufgabenname
            br
            input(type="text" name="lessonName" required value="#{lesson ? lesson.name : ''}")
        div.input
            span.label Aufgabennummer
            br
            input(type="number" min=1 name="lessonNumber" required value="#{lesson ? lesson.lessonnumber : 1")
        div.input
            span.label Informationen
            br
            textarea(name="lessonInformation" required) #{lesson ? lesson.information : ''}
        div.actions
            input(type="submit" value="Aufagbe Speichern")

    include ../formError

    include ../files