extends ../layout

block content
    h1 Fill the Blank Aufgabe erstellen
    form(action="/saveCreateInformationLesson" method="post")
        input(type="hidden" name="chapterId" value="#{chapterId}")
        input(type="hidden" name="sectionId" value="#{sectionId}")
        div.input
            span.label Aufgabenname
            br
            input(type="text" name="lessonName" required value="#{informationLesson ? informationLesson.name : ''}")
        div.input
            span.label Aufgabennummer
            br
            input(type="number" min=1 name="lessonNumber" required value="#{informationLesson ? informationLesson.lessonnumber : 1")
        div.input
            span.label Informationen
            br
            textarea(name="lessonInformation" required) #{informationLesson ? informationLesson.information : ''}
        div.actions
            input(type="submit" value="Aufagbe Speichern")

    if error
        p #{error}

    h1 Verfügbaren bilder
    div mit img tag und src="angezeigter NAME" einbinden
        ul
        each file in files
            li #{file.path}