block content
    button(type="button" class="btn imgButton" data-toggle="modal" data-target="#createInformation")
        include ../../public/images/add-icon.svg
        br
        span Hinzufügen
    div(class="modal fade" id="createInformation" tabindex="-1" role="dialog" aria-hidden="true")
        div(class="modal-dialog modal-dialog-centered" role="document")
            div(class="modal-content")
                div(class="modal-header")
                    h5(class="modal-title") Informationseinheit erstellen
                    button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                div(class="modal-body")
                    div(id="informationErrorMessage" class="errorMessage")
                        if informationErrorMessage
                            p #{informationErrorMessage}
                    informationErrorMessage
                    form(class="modalForm" action="/saveCreateInformationLesson" method="post")
                        input(type="hidden" name="chapterId" value="#{section.chapterid}")
                        input(type="hidden" name="sectionId" value="#{section.id}")
                        span.label(class="input-group-text") Aufgabenname
                        input(class="form-control" type="text" name="lessonName" required value="#{lesson ? lesson.name : ''}")
                        br
                        span.label(class="input-group-text") Aufgabennummer
                        input(class="form-control" type="number" min=1 name="lessonNumber" required value="#{lesson ? lesson.lessonnumber : 1")
                        br
                        span.label(class="input-group-text") Informationen (HTML)
                        textarea(class="form-control" name="lessonInformation" required) #{lesson ? lesson.information : ''}
                        br
                        button(type="button" class="btn btn-danger" data-dismiss="modal") Abbruch
                        button(class="btn btn-primary saveBt" type="submit") Speichern
                div(class="modal-footer")
                    include ../files