extends ../layout

block content
    h1 Code extension Aufgabe eerstellen

    form(action="/saveCreateCodeExtensionLesson" method="post")
        input(type="hidden" name="chapterId" value="#{chapterId}")
        input(type="hidden" name="sectionId" value="#{sectionId}")
        div.input
            span.label Aufgabenname
            br
            input(type="text" name="lessonName" required value="#{codeExtensionLesson ? codeExtensionLesson.name : ''}")
        div.input
            span.label Aufgabennummer
            br
            input(type="number" name="lessonNumber" required value="#{codeExtensionLesson ? codeExtensionLesson.lessonnumber : 0")
        div.input
            span.label Aufgabentext
            br
            textarea(name="lessonInformation" required) #{codeExtensionLesson ? codeExtensionLesson.information : ''}
        div.input
            span.label Zu erg채nzenden Code mit [input] als l체cken
            br
            textarea(name="unfinishedCode" required) #{codeExtensionLesson ? codeExtensionLesson.unfinishedcode : ''}
        div.input
            span.label Zu erg채nzender Code (pro Input eine Zeile in richtiger Reihenfolge)
            br
            textarea(name="answers" required) #{codeExtensionLesson ? codeExtensionLesson.answers : ''}
        div.actions
            input(type="submit" value="Aufagbe Speichern")

    if error
        p #{error}

    h1 Verf체gbaren bilder
    div mit img tag und src="angezeigter NAME" einbinden
        ul
        each file in files
            li #{file.path}