extends ../layout

block content
    h1(class="headline")  Informationseinheit bearbeiten
    div(class="editLessonTileContainer")
        div(class="editLessonTile")
            form(class="modalForm" action="/saveEditInformationLesson" method="post")
                include ../formError
                input(type="hidden" name="chapterId" value="#{chapterId}")
                input(type="hidden" name="lessonId" value="#{lessonId}")
                input(type="hidden" name="sectionId" value="#{sectionId}")
                input(type="hidden" name="lessonNumber" value="#{lesson.lessonnumber}")
                span.label Aufgabenname
                input(type="text" name="lessonName" required value="#{lesson.name}")
                br
                span.label Aufgabennummer
                input(type="number" min=1 name="updatedLessonNumber" required value="#{lesson.lessonnumber}")
                br
                span.label Informationen
                textarea(name="lessonInformation" required) #{lesson.information}
                br
                span.label Unterthema
                select(name="updatedSectionId" required)
                    each section in sections
                        option(value="#{section.id}" selected=sectionId == section.id) #{section.name}
                br
                button(class="btn btn-primary saveBt" type="submit") Speichern

        div(class="editLessonTile")
            include ../files
