extends ../layout

block content
    h1 Coding Aufgabe bearbeiten
    form(action="/saveEditCodingLesson" method="post")
        include baseEditLessonForm
        div.input
            span.label Aufgabenüberprüfungstyp
            br
            select(name="verificationType" required)
                option(value="JASMINE" selected=lesson.verificationtype === 'JASMINE') Jasmine
                option(value="SELF" selected=lesson.verificationtype === 'SELF') Selbst
        div.input
            span.label Überprüfungscode
            br
            textarea(name="verificationCode" required) #{lesson.verificationcode}
        div.input
            span.label Musterlösung
            br
            textarea(name="exampleSolution" required) #{lesson.examplesolution}
        div.input
            span.label Überprüfungsinformationen
            br
            textarea(name="verificationInformation" required) #{lesson.verificationinformation}
        div.actions
            input(type="submit" value="Aufgabe Speichern")

    include ../formError

    include ../files
