extends ../layout

block content
    h1 Code extension Aufgabe bearbeiten

    form(action="/saveEditCodeExtensionLesson" method="post")
        input(type="hidden" name="chapterId" value="#{chapterId}")
        input(type="hidden" name="lessonId" value="#{lessonId}")
        input(type="hidden" name="lessonNumber" value="#{codeExtensionLesson.lessonnumber}")
        input(type="hidden" name="codeExtensionLessonId" value="#{codeExtensionLesson.id}")
        div.input
            span.label Aufgabenname
            br
            input(type="text" name="lessonName" required value="#{codeExtensionLesson.name}")
        div.input
            span.label Aufgabennummer
            br
            input(type="number" name="updatedLessonNumber" required value="#{codeExtensionLesson.lessonnumber}")
        div.input
            span.label Unterthema
            br
            select(name="sectionId" required)
                each section in sections
                    option(value="#{section.id}" selected=sectionId == section.id) #{section.name}
        div.input
            span.label Aufgabentext
            br
            textarea(name="lessonInformation" required) #{codeExtensionLesson.information}
        div.input
            span.label Zu erg채nzenden Code mit [input] als l체cken
            br
            textarea(name="unfinishedCode" required) #{codeExtensionLesson.unfinishedcode}
        div.input
            span.label Zu erg채nzender Code (pro Input eine Zeile in richtiger Reihenfolge)
            br
            textarea(name="answers" required) #{codeExtensionLesson.answers}
        div.actions
            input(type="submit" value="Aufagbe Speichern")

    if error
        p #{error}

    h1 Verf체gbaren bilder
    div mit img tag und src="angezeigter NAME" einbinden
        ul
        each file in files
            li #{file.path}