extends ../layout

block content
    h1 Single- oder Multiple-Choice Aufgabe bearbeiten

    form(action="/saveEditSingleMultipleChoiceLesson" method="post")
        input(type="hidden" name="chapterId" value="#{chapterId}")
        input(type="hidden" name="lessonId" value="#{lessonId}")
        input(type="hidden" name="sectionId" value="#{sectionId}")
        input(type="hidden" name="lessonNumber" value="#{singleMultipleChoice.lessonnumber}")
        input(type="hidden" name="singleMultipleChoiceLessonId" value="#{singleMultipleChoice.id}")
        div.input
            span.label Aufgabenname
            br
            input(type="text" name="lessonName" required value="#{singleMultipleChoice.name}")
        div.input
            span.label Aufgabennummer
            br
            input(type="number" min=1 name="updatedLessonNumber" required value="#{singleMultipleChoice.lessonnumber}")
        div.input
            span.label Aufgabentext
            br
            textarea(name="lessonInformation" required) #{singleMultipleChoice.information}
        div.input
            span.label Unterthema
            br
            select(name="updatedSectionId" required)
                each section in sections
                    option(value="#{section.id}" selected=sectionId == section.id) #{section.name}
        div.input
            span.label Mögliche Antworten mit [X] makieren wenn eine Lösung Richtig ist
            br
            textarea(name="markedoptions" required) #{singleMultipleChoice.markedoptions}
        div.actions
            input(type="submit" value="Aufagbe Speichern")
    if error
        p #{error}

    h1 Verfügbaren bilder
    div mit img tag und src="angezeigter NAME" einbinden
        ul
        each file in files
            li #{file.path}