extends ../layout

block content
    h1(class="headline") Codeaufgabe bearbeiten
    div(class="editLessonTileContainer")
        div(class="editLessonTile")
            form(class="modalForm" action="/saveEditCodingLesson" method="post")
                include ../formError
                include baseEditLessonForm
                span.label(class="input-group-text") Aufgabenüberprüfungstyp
                select(class="form-select" name="verificationType" required)
                    option(value="JASMINE" selected=lesson.verificationtype === 'JASMINE') Jasmine
                    option(value="SELF" selected=lesson.verificationtype === 'SELF') Selbst
                br
                span.label(class="input-group-text") Überprüfungscode
                textarea(class="form-control" name="verificationCode" required) #{lesson.verificationcode}
                br
                span.label(class="input-group-text") Musterlösung
                textarea(class="form-control" name="exampleSolution" required) #{lesson.examplesolution}
                br
                span.label(class="input-group-text") Überprüfungsinformationen (HTML)
                textarea(class="form-control" name="verificationInformation" required) #{lesson.verificationinformation}
                br
                button(class="btn btn-primary saveBt" type="submit") Speichern

        div(class="editLessonTile")
            include ../files
