extends ../layout

block content
    h1 Coding Aufgabe bearbeiten
    form(action="/saveEditCodingLesson" method="post")
        div.input
            span.label Aufgabename
            br
            input(type="text" name="lessonName" required value="#{codingLesson.name}")
        div.input
            span.label Aufgabennummer
            br
            input(type="number" name="updatedLessonNumber" required value="#{codingLesson.lessonnumber}")
            input(type="hidden" name="lessonNumber" value="#{codingLesson.lessonnumber}")
        div.input
            span.label Informationstext
            br
            textarea(name="lessonInformation" required) #{codingLesson.information}
        div.input
            span.label Unterthema
            br
            select(name="sectionId" required)
                each section in sections
                    option(value="#{section.id}" selected=sectionId == section.id) #{section.name}
        div.input
            span.label Aufgabenüberprüfungstyp
            br
            select(name="verificationType" required)
                option(value="JASMINE" selected=codingLesson.verificationtype === 'JASMINE') Jasmine
                option(value="SELF" selected=codingLesson.verificationtype === 'SELF') Selbst
        div.input
            span.label Überprüfungscode
            br
            textarea(name="verificationCode" required) #{codingLesson.verificationcode}
        div.input
            span.label Musterlösung
            br
            textarea(name="exampleSolution" required) #{codingLesson.examplesolution}
        div.input
            span.label Überprüfungsinformationen
            br
            textarea(name="verificationInformation" required) #{codingLesson.verificationinformation}
        div.input
            input(type="hidden" name="chapterId" value="#{chapterId}")
            input(type="hidden" name="lessonId" value="#{lessonId}")
            input(type="hidden" name="codingLessonId" value="#{codingLesson.id}")
        div.actions
            input(type="submit" value="Aufgabe Speichern")

    if error
        p #{error}

    h1 Verfügbaren bilder
    div mit img tag und src="angezeigter NAME" einbinden
        ul
        each file in files
            li #{file.path}
