extends ../layout

block content

    if unansweredProblems.length !== 0
        h1(class="headline") Auf neue Probleme Antworten
        div(class="tilesContainer")
            each problem in unansweredProblems
                div(class="tile problemTile")
                    button(type="button" class="btn btn-primary editChapter" data-toggle="modal" data-target="#answerModal" data-problemlessonname="#{problem.lessonname}" data-problemmessage="#{problem.message}" data-problemid="#{problem.id}" data-problemmoodlename="#{problem.moodlename}" data-problemmoodleid="#{problem.moodleid}") Antworten
                    span <b> #{problem.moodlename} </b> hat ein Problem beim Aufgabe <b> #{problem.lessonname} </b>
        div(class="modal fade" id="answerModal" tabindex="-1" role="dialog" aria-hidden="true")
            div(class="modal-dialog modal-dialog-centered" role="document")
                div(class="modal-content")
                    div(class="modal-header")
                        h5(class="modal-title") Antworten
                        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
                    div(class="modal-body")
                        form(class="modalForm" action="/saveAnswerOnProblem" method="post")
                            input(class="modalProblemId" type="hidden" name="problemId")
                            input(class="modalProblemMoodleId" type="hidden" name="moodleId")
                            span.label(class="form-lessonName") Nachrichten Text
                            br
                            span.label(class="form-message") Nachrichten Text
                            br
                            span.label(class="input-group-text") Antwort:
                            textarea(class="formAnswerText form-control" name="answer" value="" required)
                            button(class="btn btn-primary saveBt" type="submit") Senden
        script.
            $('#answerModal').on('show.bs.modal', function (event) {
                let button = $(event.relatedTarget)
                let problemId = button.data('problemid')
                let problemMoodleId = button.data('problemmoodleid')
                let problemMoodleName = button.data('problemmoodlename')
                let problemLessonName = button.data('problemlessonname')
                let problemMessage = button.data('problemmessage')
                let modal = $(this)
                modal.find('.modal-title').text(problemMoodleName + " Antworten")
                modal.find('.modalProblemId').val(problemId)
                modal.find('.form-lessonName').text('Aufgabe: ' + problemLessonName)
                modal.find('.form-message').text('Frage: ' + problemMessage)
                modal.find('.modalProblemMoodleId').val(problemMoodleId)
            })
    else
        h1(class="headline") Es gibt keine neuen Probleme


    h1(class="headline") Probleme mit ungelesenen Nachrichten

    if answeredProblemKeys.length !== 0
        h1(class="headline") Probleme bearbeiten
        each key in answeredProblemKeys
            div(class="tilesContainer")
                div(class="tile problemTile")
                    span(style="margin-top: 40px") Vom <b>#{key}</b>
                each problem in answeredProblems.get(key)
                    div(class="tile problemTile")
                        button(class="btn btn-primary editChapter" type="button" data-toggle="modal" data-target="#problemEditModal"
                            data-problemlessonname="#{problem.lessonName}"
                            data-problemmessage="#{problem.message}"
                            data-problemid="#{problem.problemId}"
                            data-problemmoodlename="#{problem.moodleName}"
                            data-problemmoodleid="#{problem.moodleId}"
                            data-problemanswers="#{problem.answers}"
                            data-problemnotificationid="#{problem.notificationId}") Antwort bearbeiten
                        span Problem von <b> #{problem.moodleName} </b> bei der Aufgabe <b> #{problem.lessonName}</b>

        div
            div(class="modal fade" id="problemEditModal" tabindex="-1" role="dialog" aria-hidden="true")
                div(class="modal-dialog modal-dialog-centered" role="document")
                    div(class="modal-content")
                        div(class="modal-header")
                            h5(class="modal-title") Antworten
                            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                                span(aria-hidden="true") &times;
                        div(class="modal-body")
                            form(class=" modalForm" action="/saveAnswerOnProblem" method="post")
                                input(class="editAnswerProblemId" type="hidden" name="problemId")
                                input(class="editAnswerProblemMoodleId" type="hidden" name="moodleId")
                                input(class="editAnswerProblemNotificationId" type="hidden" name="notificationId")
                                span.label(class="formLessonName") Nachrichten Text
                                br
                                span.label(class="formProblemText") Nachrichten Text
                                br
                                span Antworten
                                pre
                                    span.label(class="formAnswersText") Nachrichten Text
                                br
                                span.label(class="input-group-text") Antwort:
                                textarea(class="form-control formNewAnswer" name="answer" value="" required placeholder="neue Antwort schreiben")
                                br
                                button(class="btn btn-primary saveBt" type="submit") Speichern
                            form(class="problemForm" action="/deleteProblem" method="post")
                                input(class="deleteAnswerProblemId" type="hidden" name="problemId")
                                button(class="btn btn-danger deleteProblemBt" type="submit") Löschen

        script.
            $('#problemEditModal').on('show.bs.modal', function (event) {
                let button = $(event.relatedTarget)
                let problemId = button.data('problemid')
                let problemMoodleId = button.data('problemmoodleid')
                let problemMoodleName = button.data('problemmoodlename')
                let problemLessonName = button.data('problemlessonname')
                let problemMessage = button.data('problemmessage')
                let problemNotificationId = button.data('problemnotificationid')
                let problemAnswers = button.data('problemanswers')
                let modal = $(this)
                modal.find('.modal-title').text("Antwort an " + problemMoodleName + " bearbeiten")
                modal.find('.editAnswerProblemId').val(problemId)
                modal.find('.editAnswerProblemMoodleId').val(problemMoodleId)
                modal.find('.editAnswerProblemNotificationId').val(problemNotificationId)
                modal.find('.formLessonName').text('Aufgabe: ' + problemLessonName)
                modal.find('.formProblemText').text('Frage: ' + problemMessage)
                modal.find('.formAnswersText').text(problemAnswers)
                modal.find('.deleteAnswerProblemId').val(problemId)
            })
    else
        h1 Es gibt noch keine Antworten auf Probleme die bearbeitet werden können