extends ../layout
block content
    h1(class="headline") Aktuelle Kapitel
    div(class="tilesContainer")
        div(class="tile")
            button(type="button" class="btn imgButton" data-toggle="modal" data-target="#createChapter")
                include ../../public/images/add-icon.svg
                br
                span Kapitel hinzufügen
            div(class="modal fade" id="createChapter" tabindex="-1" role="dialog" aria-hidden="true")
                div(class="modal-dialog modal-dialog-centered" role="document")
                    div(class="modal-content")
                        div(class="modal-header")
                            h5(class="modal-title") Neues Kapitel erstellen
                            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                                span(aria-hidden="true") &times;
                        div(class="modal-body")
                            include ../formError
                            form(class="modalForm" action="/saveNewChapter" method="post")
                                span.label(class="input-group-text") Kapitelname
                                input(class="form-control" type="text" name="chapterName" required value="#{chapterData ? chapterData.name : ''}")
                                br
                                span.label(class="input-group-text") Übersichtstext
                                textarea(class="form-control" name="overview" required) #{chapterData ? chapterData.overview : ''}
                                br
                                span.label(class="input-group-text") Kapitelnummer
                                input(class="form-control" type="number" min=1 name="chapterNumber" required value="#{chapterData ? chapterData.chapterNumber : 1}")
                                br
                                button(type="button" class="btn btn-danger" data-dismiss="modal") Abbruch
                                button(class="btn btn-primary saveBt" type="submit") Speichern
        div(class="tile")
            if fileUploaded
                span(class="successMessage") Uploaded
            button(type="button" class="btn imgButton" data-toggle="modal" data-target="#mediaUpload")
                include ../../public/images/upload-image-icon.svg
                br
                span Mediendatei hochladen
            div(class="modal fade" id="mediaUpload" tabindex="-1" role="dialog" aria-hidden="true")
                div(class="modal-dialog modal-dialog-centered" role="document")
                    div(class="modal-content")
                        div(class="modal-header")
                            h5(class="modal-title") Meidendatei hochladen
                            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                                span(aria-hidden="true") &times;
                        div(class="modal-body")
                            form(action="/uploadChapterMedia" class="modalForm" method="post" enctype="multipart/form-data")
                                span.label(class="input-group-text") Kapitel
                                select(class="form-select" class="chapterSelect" name="chapter")
                                    each chapter in chapters
                                        option(value="#{chapter.id}") #{chapter.name}
                                br
                                input(class="form-control" type="file" name="file" required)
                                br
                                button(class="btn btn-primary saveBt" type="submit") Speichern
                        div(class="modal-footer")
                            div(id="uploadError")
                                if fileError
                                    span Aus folgendem Grund konnte die Datei nicht hochgeladen werden:
                                        b #{fileError}.
        script.
            $(window).on('load', function () {
                if ($('#errorMessages').children().length > 0) {
                    $('#createChapter').modal('show');
                }
                if ($('#uploadError').children().length > 0) {
                    $('#mediaUpload').modal('show');
                }
            });

        each chapter in chapters
            div(class="tile chapterTile")
                a(type="button" class="btn btn-danger deleteChapter" href='/deleteChapter/#{chapter.id}') Löschen
                a(type="button" class="btn btn-primary editChapter" href='/chapter/#{chapter.id}') Bearbeiten
                span #{chapter.name}