extends ../layout

block content
    h1 Kapitel bearbeiten
    form(action="/editChapter" method="post")
        div.input
            span.label Kapitelname
            br
            input(type="text" name="chapterName" required value="#{chapter.name}")
        div.input
            span.label Übersichtstext
            br
            textarea(name="overview" required) #{chapter.overview}
        div.input
            span.label Kapitelnummer
            br
            input(type="number" name="chapterNumber" required value="#{chapter.chapternumber}")
        div.input
            input(type="hidden" name="chapterId" value="#{chapter.id}")
        div.actions
            input(type="submit" value="Kapitel Speichern")

    if error
        p #{error}

    h1 Unterthemen
    div
        a(href='/createSection/#{chapter.id}') Unterhema erstellen

    each section in sections
        p= section.name
            a(href='/section/#{chapter.id}/#{section.id}') Unterthema bearbeiten
            br
            a(href='/deleteSection/#{chapter.id}/#{section.id}') Löschen

    h1 Verfügbaren bilder
    div mit img tag und src="angezeigter NAME" einbinden
    ul
    each file in files
        li #{file.path}