extends ../layout

block content
    h1(class="headline") #{section.name}
    h5(class="headline") Bearbeiten und neue Aufgaben erstellen
    div(class="tilesContainer")
        div(class="tile")
            button(type="button" class="btn createButton" data-toggle="modal" data-target="#editSection")
                img(class="add-image" src="/images/edit-icon.png")
        div(class="modal fade" id="editSection" tabindex="-1" role="dialog" aria-hidden="true")
            div(class="modal-dialog modal-dialog-centered" role="document")
                div(class="modal-content")
                    div(class="modal-header")
                        h5(class="modal-title") Unterthema Bearbeiten
                        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
                    div(class="modal-body")
                        div(id="editSectionError" class="errorMessage")
                            if editSectionErrorMessage
                                p #{editSectionErrorMessage}
                        form(class="modalForm" action="/saveEditedSection" method="post")
                            span.label Name
                            input(type="text" name="sectionName" required value="#{section.name}")
                            br
                            span.label Informationen
                            textarea(name="information" required) #{section.information }
                            span.label Unterhema nummer
                            input(type="number" min=1 name="updatedSectionNumber" required value="#{section.sectionnumber}")
                            input(type="hidden" name="sectionNumber" value="#{section.sectionnumber}")
                            span.label Kapitel
                            br
                            select(name="chapterId")
                                each chapter in chapters
                                    option(value="#{chapter.id}" selected=chapter.id == currentChapterId) #{chapter.name}
                            br
                            input(type="hidden" name="sectionId" value="#{section.id}" required)
                            input(type="hidden" name="currentChapterId" value="#{currentChapterId}" required)
                            button(type="button" class="btn btn-danger" data-dismiss="modal") Abbruch
                            button(class="btn btn-primary saveBt" type="submit") Speichern
                    div(class="modal-footer")
                        include ../files
    div(class="tilesContainer")
        div(class="tile")
            span Informationseinheiten
        div(class="tile")
            include ../lessons/createInformationLesson
        each informationLesson in informationLessons
            div(class="tile chapterTile")
                a(type="button" class="btn btn-danger deleteChapter" href='/deleteLesson/#{currentChapterId}/#{section.id}/#{informationLesson.id}')  Löschen
                a(type="button" class="btn btn-primary editChapter" href='/editInformationLesson/#{currentChapterId}/#{section.id}/#{informationLesson.id}') Bearbeiten
                span #{informationLesson.name}

    div(class="tilesContainer")
        div(class="tile")
            span Code Aufgaben
        div(class="tile")
            include ../lessons/createCodingLesson
        each codeLesson in codingLessons
            div(class="tile chapterTile")
                a(type="button" class="btn btn-danger deleteChapter" href='/deleteLesson/#{currentChapterId}/#{section.id}/#{codeLesson.lessonid}')  Löschen
                a(type="button" class="btn btn-primary editChapter" href='/editCodingLesson/#{currentChapterId}/#{section.id}/#{codeLesson.lessonid}') Bearbeiten
                span #{codeLesson.name}
    div(class="tilesContainer")
        div(class="tile")
            span Code Extension Aufgaben
        div(class="tile")
            include ../lessons/createCodeExtensionLesson
        each codeExtensionLesson in codeExtensionLessons
            div(class="tile chapterTile")
                a(type="button" class="btn btn-danger deleteChapter" href='/deleteLesson/#{currentChapterId}/#{section.id}/#{codeExtensionLesson.lessonid}')  Löschen
                a(type="button" class="btn btn-primary editChapter" href='/editCodeExtensionLesson/#{currentChapterId}/#{section.id}/#{codeExtensionLesson.lessonid}') Bearbeiten
                span #{codeExtensionLesson.name}
    div(class="tilesContainer")
        div(class="tile")
            span Fill The Blank Aufgaben
        div(class="tile")
            include ../lessons/createFillTheBlankLesson
        each fillTheBlankLesson in fillTheBlankLessons
            div(class="tile chapterTile")
                a(type="button" class="btn btn-danger deleteChapter" href='/deleteLesson/#{currentChapterId}/#{section.id}/#{fillTheBlankLesson.lessonid}')  Löschen
                a(type="button" class="btn btn-primary editChapter" href='/editFillTheBlankLesson/#{currentChapterId}/#{section.id}/#{fillTheBlankLesson.lessonid}') Bearbeiten
                span #{fillTheBlankLesson.name}

    div(class="tilesContainer")
        div(class="tile")
            span Single-Multiple-Choice Aufgaben
        div(class="tile")
            include ../lessons/createSingleMultipleChoiceLesson
        each singleMultipleChoiceLesson in singleMultipleChoiceLessons
            div(class="tile chapterTile")
                a(type="button" class="btn btn-danger deleteChapter" href='/deleteLesson/#{currentChapterId}/#{section.id}/#{singleMultipleChoiceLesson.lessonid}')  Löschen
                a(type="button" class="btn btn-primary editChapter" href='/editSingleMultipleChoiceLesson/#{currentChapterId}/#{section.id}/#{singleMultipleChoiceLesson.lessonid}') Bearbeiten
                span #{singleMultipleChoiceLesson.name}

    script.
        $(window).on('load', function () {
            if ($('#errorFillTheBlankMessages').children().length > 0) {
                $('#createFillTheBlankLesson').modal('show');
            } else if ($('#singleMultipleChoiceErrorMessage').children().length > 0) {
                $('#createSingleMultipleChoiceLesson').modal('show');
            } else if ($('#codeExtensionErrorMessage').children().length > 0) {
                $('#createCodeExtensionLesson').modal('show');
            } else if ($('#codingErrorMessage').children().length > 0) {
                $('#createCodingLesson').modal('show');
            } else if ($('#informationErrorMessage').children().length > 0) {
                $('#createInformation').modal('show');
            } else if ($('#editSectionError').children().length > 0) {
                $('#editSection').modal('show');
            }
        });
